/DaemonActivityBasic.class
/DaemonHDFS$FragmentFile.class
/DaemonHDFS.class
/DaemonActivity.class
/DaemonActivityA.class
/FragmentData.class
/FragmentRegister.class
/FragmentRegisterI.class
/FragmentDataI.class
